@font-face {
  font-family: "UhBeemysen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "UhBeemysen";
  overflow: hidden;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Nav bar */
/* .menu div 자식 요소 전체 대상 */
.menu * {
  display: inline;
}

.menu {
  position: fixed;
  font-size: 32px;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.menu li {
  margin: 30px;
}

.menu li a {
  color: #000000;
  text-decoration: none;
  transition: all 0.4s;
}

.menu li a:hover {
  color: #f87070;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.heart {
  visibility: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.header {
  margin-bottom: 50px;
}

/* Home page */

.introduce_list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 530px;
  height: 530px;
  display: inline-block;
  text-align: center;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.profile > a {
  text-decoration: none;
}

.profile > a > img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* timetable page */

.timetable {
  width: 800px;
  height: 600px;
  text-align: center;
}

.timetable img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

/* favorite page */

/* float지정하려다 보니까 이미지가 많이 깨짐 */

.favorite_list {
  background-size: cover;
  text-align: center;
  margin-top: 100px;
}

.food img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 30px;
}

.food_coment {
  float: right;
  margin-left: 30px;
  padding-top: 120px;
}

.dessert img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  margin-left: 30px;
  border-radius: 30px;
}

.dessert_coment {
  float: left;
  margin-right: 30px;
  padding-top: 120px;
}

/* Tmi & Hobby page */

.myPuppy {
  width: 600px;
  height: 600px;
  text-align: center;
}

.myPuppy img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.myPuppy > a > img {
  width: 30px;
  border-radius: 0;
}
