/*Init*/
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: space-between;
}

/*keyframes + 사용할 애니메이션 이름 */
@keyframes fadein {
  /*시작-처음에는 투명함*/
  from {
    opacity: 0;
  }
  /*종료-종료시 투명 X*/
  to {
    opacity: 1;
  }
}

ul {
  display: flex;
  flex-direction: column;
  /*서서히 나타날거임*/
  animation: fadein 3s;
  font-size: 1vw;
  gap: 10px;
}

main > article {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
  flex-direction: column;
  animation: fadein 2s;
}
article > ul {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  gap: 10px;
}
article > ul > li {
  font-size: 1.5vw;
}

.largest {
  font-size: 3vw;
}
aside img {
  display: flex;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  justify-self: flex-start;
}

ul {
  list-style: none;
}

li:hover {
  font-weight: 800;
  transform: translateY(-5px);
  cursor: pointer;
}

/*처음 안보이게*/
span,
a,
ul > li > ul {
  display: none;
}

/*none->flex로 바꾸는 이벤트 */
.change_to_flex {
  display: flex;
  padding-left: 15px;
  animation: fadein 1s;
}
